# Created by https://www.toptal.com/developers/gitignore/api/swift,xcode,objective-c
# Edit at https://www.toptal.com/developers/gitignore?templates=swift,xcode,objective-c

### ScoreFive ###
ScoreFive/App/ScoreFive/Resources/analytics_config.json
ScoreFive/App/ScoreFive/Src/Infra/DependencyGraph.swift
ScoreFive/App/ScoreFiveTests/Mocks.swift
ScoreFive/App/ScoreFiveTests/FailureDiffs/

### Sftool <-> SwiftFormat ###
.swiftformat

### Sftool <-> SwiftLint ###
.swiftlint.yml

### Sftool <-> Tuist ###
/ScoreFive/Tuist/Config.swift

### Tuist ###
*.xcworkspace/
*.xcodeproj/

## spm
.build/